<LMTLocal>
    <h1>This is @this.GetType()</h1>
    <h2>Playing: @url</h2>
    <h2>Start time: @starttime</h2>
    <h2>Is repeat?: @repeat</h2>
    <button onclick="@OnClickHandler">
        @text
    </button>
    @ChildContent
</LMTLocal>

@functions{
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private string url { get; set; }

    [Parameter]
    private int starttime { get; set; }

    [Parameter]
    private bool repeat { get; set; }

    private string text { get; set; } = "Paused!";

    private void OnClickHandler(UIEventArgs e)
    {
        text = "Playing!";
    }
}